NF01/XSD 1/xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
    <xs:element name="esdeveniments">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="esdeveniment">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="grup" type="xs:string"/>
                            <xs:element name="lloc" type="xs:string"/>
                            <xs:element name="data" type="xs:string"/>
                            <xs:element name="entrada">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:float">
                                            <xs:attribute name="gratuita">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="si"/>
                                                        <xs:enumeration value="no"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
